{% extends "plantilla.php.twig" %}

{% block cuerpo %}

		<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ ejercicio.imagen_ejercicio }}" class="img-fluid" alt="{{ ejercicio.nombre }}" />
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{ ejercicio.nombre|upper }}</h4>
                    <p class="card-text">{{ ejercicio.explicacion|nl2br }}</p>
                    <a href="index.php?m=entrenamiento&f=listadoEjercicio&id={{ ejercicio.musculo_id }}" class="btn btn-dark btn-sm">Atrás</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block pie %}

{% endblock %}